@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glass-effect {
    background: linear-gradient(
      115deg,
      rgb(255 255 255 / 0.05),
      rgb(255 255 255 / 0)
    );
    backdrop-filter: blur(10px);
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

html {
  scroll-behavior: smooth;
}

.glow {
  box-shadow: 0 0 30px -5px rgb(120 0 255 / 0.3);
}

@keyframes gradient-shift {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-gradient {
  animation: gradient-shift 20s linear infinite;
}
